{% extends "base.html" %}
{% block title %}
    {{ league }}
{% endblock title %}
{% block content %}
    <h1>League: {{ league }}</h1>
    <h2>Details</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ league.name }}</td>
        </tr>
    </table>
    <h2>Seasons:</h2>
    {% comment %} Maybe inclued data about how much data is stored? {% endcomment %}
    {% comment %} <h2>List of seasons:</h2>s {% endcomment %}
    {% if list %}
        <ul>
            {% for l in list %}
                <li>
                    <a href=" {% url 'records:season' league.id l.id %} ">{{ l }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No seasons are available.</p>
    {% endif %}
{% endblock content %}
