{% extends "base.html" %}
{% load static %}
{% load quiz_filters %}

{% block title %}
    Quiz
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'Quiz/quiz.css' %}"/>
    <h1>{{ quiz }}</h1>
    <h2>Quiz details:</h2>
    <table>
        <tr>
            <td>Event:</td>
            <td>
                <a href=" {% url 'records:event' league.id season.id event.id %} ">{{ event }}</a>
            </td>
        </tr>
        <tr>
            <td>Quizmaster:</td>
            <td>{{ quiz.quizmaster }}</td>
        </tr>
        <tr>
            <td>Scorekeeper:</td>
            <td> {{ quiz.scorekeeper }}</td>
        </tr>
        <tr>
            <td>Room:</td>
            <td>{{ quiz.room }}</td>
        </tr>
        <tr>
            <td>Round #</td>
            <td>{{ quiz.round }}</td>
        </tr>
    </table>
    <h2>Questions:</h2>
    {% render_scoresheet False %}
{% endblock content %}
