{% comment %} This is probably a better way, but other works for now... {% endcomment %}
{% extends "base.html" %}
{% block content %}
    <h1>{{ quiz }}</h1>
    <h2>Quiz details:</h2>
    <table>
        <tr>
            <td>Event:</td>
            <td>{{ quiz.event }}</td>
        </tr>
        <tr>
            <td>Quizmaster:</td>
            <td>{{ quiz.quizmaster }}</td>
        </tr>
        <tr>
            <td>Room:</td>
            <td>{{ quiz.room }}</td>
        </tr>
        <tr>
            <td>Round #</td>
            <td>{{ quiz.round }}</td>
        </tr>
    </table>
    <h2>List of questions:</h2>
    {% if questions %}
        <ul>
            {% for question in questions %}
                <li>
                    <a href=" {% url 'records:question' league.id season.id event.id quiz.id question.id %} ">{{ question }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
{% endblock content %}
