{% extends "base.html" %}
{% block title %}
    {{ season }}
{% endblock title %}
{% block content %}
    <h1>Season: {{ season }}</h1>
    <h2>Details:</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ season }}</td>
        </tr>
        <tr>
            <td>Start Date:</td>
            <td>{{ season.year }}</td>
        </tr>
        <tr>
            <td>Material:</td>
            <td>{{ season.material }}</td>
        </tr>
        <tr>
            <td>League:</td>
            <td>
                <a href=" {% url 'records:league' league.id %} ">{{ league }}</a>
            </td>
        </tr>
    </table>
    <h2>Events:</h2>
    {% if list %}
        <ul>
            {% for l in list %}
                <li>
                    <a href=" {% url 'records:event' league.id season.id l.id %} ">{{ l }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events are available.</p>
    {% endif %}
    {% if teams %}
        <h2>Teams:</h2>
        <ul>
            {% for t in teams %}
                <li>
                    <a href=" {{ t.url }} ">{{ t }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No teams are available.</p>
    {% endif %}
{% endblock content %}
