{% extends "base.html" %}
{% block title %}
    {{ team }}
{% endblock title %}
{% block content %}
    <h1>{{ team }}</h1>
    <h2>Team details:</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ team.name }}</td>
        </tr>
        <tr>
            <td>Orginization:</td>
            <td>{{ team.orginization }}</td>
        </tr>
        <tr>
            <td>Season:</td>
            <td>
                <a href="{% url 'records:season' league.id team.season.id %}">{{ team.season }}</a>
            </td>
        </tr>
    </table>
    <h2>List of individuals:</h2>
    {% if list %}
        <ul>
            {% for l in list %}
                <li>
                    <a href=" {% url 'records:individual' l.id %} ">{{ l }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No individuals are available.</p>
    {% endif %}
{% endblock content %}
