{% extends "base.html" %}
{% block title %}
    Tournament Manager
{% endblock title %}
{% block content %}
    <h1>Tournament Manager</h1>
    <h3>Round Robin Bracket Generator</h3>
    <p>... is not ready for use yet! It is avaliable for testing purposes only.</p>
    <a href="{% url 'manager:round_robin' %}">Round Robin Bracket Generator</a>

    <div class="alert alert-danger" role="alert">
        This command is extremely dangerous!!!!!
        <a href="{% url 'manager:event_generator' %}">Generate Event</a>
        It will delete all data in the database and start fresh.
    </div>


{% endblock content %}
