{% extends "base.html" %}
{% load static %}
{% load records_filters %}
{% block title %}
    Event
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'Records/event.css' %}"/>



    <h1>{{ object.season }}</h1>
    <table>
        <tr>
            <td>Date:</td>
            <td>{{ object.date }}</td>
        </tr>
        <tr>
            <td>Season:</td>
            <td>
                <a href=" {% url 'records:season' object.season.id %} ">{{ object.season }}</a>
            </td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{ object.location }}</td>
        </tr>
    </table>

    <br>
    <br>


    <h2>Teams</h2>
    {% ranked_teams_table object %}

    <h2>Individuals</h2>
    {% ranked_individuals_table object %}



    <h2>Quizzes:</h2>
    {#    {{ schedule|safe }}#}
    {#    {% if object_list %}#}
    {#        <ul>#}
    {#            {% for l in object_list %}#}
    {#                <li>#}
    {#                    <a href=" {% url 'records:quiz' league.id season.id event.id l.id %} ">{{ l }}</a>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    {% else %}#}
    {#        <p>No quizes are available.</p>#}
    {#    {% endif %}#}


{% endblock content %}
