{% extends "base.html" %}
{% load static %}
{% load records_filters %}
{% block title %}
{{ event }}
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'Records/event.css' %}"/>



    <h1>{{ event.season }}</h1>
    <div class="col-lg-4">
        <h2>Details</h2>
        <table class="table">
            <tr>
                <td>Date:</td>
                <td>{{ event.date }}</td>
            </tr>
            <tr>
                <td>Season:</td>
                <td>
                    <a href=" {% url 'records:season' event.season.id %} ">{{ event.season }}</a>
                </td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{ event.location }}</td>
            </tr>
        </table>
    </div>

    <br>
    <br>


    <h2>Teams</h2>
    {% ranked_teams_table event %}

    <h2>Individuals</h2>
    {% ranked_individuals_table event %}



    {#    <h2>Quizzes:</h2>#}
    {#    {{ schedule|safe }}#}
    {#    {% if event_list %}#}
    {#        <ul>#}
    {#            {% for l in event_list %}#}
    {#                <li>#}
    {#                    <a href=" {% url 'records:quiz' league.id season.id event.id l.id %} ">{{ l }}</a>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    {% else %}#}
    {#        <p>No quizes are available.</p>#}
    {#    {% endif %}#}


{% endblock content %}
