{% extends "base.html" %}
{% block title %}
    Question
{% endblock title %}
{% block content %}
    <h1>{{ object }}</h1>
    <h2>Data:</h2>
    <table class="table col-lg-4">
        <tr>
            <td>Quiz:</td>
            <td>
                <a href="{% url 'records:quiz' object.quiz.id %}">{{ object.quiz }}</a>
            </td>
        </tr>
        <tr>
            <td>Question #</td>
            <td>{{ object.question_number }}</td>
        </tr>
        <tr>
            <td>Answered by:</td>
            <td><a href="{{ object.individual.get_absolute_url }}">{{ object.individual }}</a></td>
        </tr>
        <tr>
            <td>Ruling:</td>
            <td>{{ object.ruling }}</td>
        </tr>
    </table>
{% endblock content %}
