{% extends "base.html" %}
{% load static %}
{% load quiz_filters %}

{% block title %}
    Quiz
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'Quiz/quiz.css' %}"/>
    <h1>{{ object }}</h1>
    <h2>Quiz details:</h2>
    <table class="table col-lg-4">
        <tr>
            <td>Event:</td>
            <td>
                <a href=" {% url 'records:event' object.event.id %} ">{{ object.event }}</a>
            </td>
        </tr>
        <tr>
            <td>Quizmaster:</td>
            <td>{{ object.quizmaster }}</td>
        </tr>
        <tr>
            <td>Scorekeeper:</td>
            <td> {{ object.scorekeeper }}</td>
        </tr>
        <tr>
            <td>Room:</td>
            <td>{{ object.room }}</td>
        </tr>
        <tr>
            <td>Round #</td>
            <td>{{ object.round }}</td>
        </tr>
    </table>
    <h2>Questions:</h2>
    {% render_scoresheet object False %}
{% endblock content %}
