{% extends "base.html" %}
{% block title %}
    {{ season }}
{% endblock title %}
{% block content %}
    <h1>Season: {{ season }}</h1>
    <div class="col-lg-4">
    <h2>Details</h2>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>{{ season }}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ season.start_date }}</td>
            </tr>
            <tr>
                <td>Material</td>
                <td>{{ season.material }}</td>
            </tr>
            <tr>
                <td>League</td>
                <td>
                    <a href=" {% url 'records:league' season.league.id %} ">{{ season.league }}</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-lg-4">
        {% if season.event_set.all %}
            <h2>Events</h2>
            <div class="list-group">
                {% for event in season.event_set.all %}
                    <a class="list-group-item list-group-item-action"
                       href=" {% url 'records:event' event.id %} ">{{ event }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>No events are available.</p>
        {% endif %}
    </div>

    <div class="col-lg-4">
        {% if season.team_set.all %}
            <h2>Teams</h2>
            <div class="list-group">
                {% for team in season.team_set.all %}
                    <a class="list-group-item list-group-item-action" href=" {{ team.get_absolute_url }} ">{{ team }}
                        - {{ team.name }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>No teams are available.</p>
        {% endif %}
    </div>
{% endblock content %}
