{% extends "base.html" %}
{% block title %}
    {{ season }}
{% endblock title %}
{% block content %}
    <h1>Season: {{ season }}</h1>
    <h2>Details:</h2>
    <div class="col-lg-4">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td>{{ season }}</td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <td>Material:</td>
                <td>{{ season.material }}</td>
            </tr>
            <tr>
                <td>League:</td>
                <td>
                    <a href=" {% url 'records:league' league.id %} ">{{ league }}</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-lg-4">
        {% if object_list %}
            <h2>Events:</h2>
            <div class="list-group">
                {% for l in object_list %}
                    <a class="list-group-item list-group-item-action"
                       href=" {% url 'records:event' league.id season.id l.id %} ">{{ l }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>No events are available.</p>
        {% endif %}
    </div>

    <div class="col-lg-4">
        {% if teams %}
            <h2>Teams:</h2>
            <div class="list-group">
                {% for t in teams %}
                    <a class="list-group-item list-group-item-action" href=" {{ t.get_absolute_url }} ">{{ t }}
                        - {{ t.name }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>No teams are available.</p>
        {% endif %}
    </div>
{% endblock content %}
