{% extends "base.html" %}
{% block title %}
    {{ team }}
{% endblock title %}
{% block content %}
    <h1>{{ team }}</h1>
    <div class="col-4">
        <h2>Details</h2>
        <table class="table">
            <tr>
                <td>Name:</td>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <td>Orginization:</td>
                <td>{{ team.orginization }}</td>
            </tr>
            <tr>
                <td>Season:</td>
                <td>
                    <a href="{% url 'records:season' league.id team.season.id %}">{{ team.season }}</a>
                </td>
            </tr>
        </table>
    </div>


    {% if object_list %}
        <div class="list-group col-4">
            <h2>Quizzers</h2>
            {% for l in object_list %}
                <a class="list-group-item list-group-item-action"
                   href=" {% url 'records:individual' l.id %} ">{{ l }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>No individuals on this team.</p>
    {% endif %}
{% endblock content %}
