{% extends "base.html" %}
{% load quiz_filters %}
{% block title %}
    Quiz
{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Quiz/quiz.css' %}"/>

    <script>
        var num_teams = {{ quiz.num_teams }};
        var allow_ties = {{ quiz.allow_ties|lower }};
    </script>

    <h2>Quiz {{ quiz.room }}{{ quiz.round }}</h2>
    <br>
    <br>


    {% render_scoresheet quiz %}

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'Quiz/quiz.js' %}"></script>


{% endblock content %}
