{% extends "base.html" %}
{% load quiz_filters %}
{% block title %}
    Quiz
{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Quiz/quiz.css' %}"/>

    <script>
        var num_teams = {{ quiz.num_teams }};
    </script>

    <h2>Quiz {{ quiz.room }}{{ quiz.round }}</h2>
    <br>
    <br>


    {% render_scoresheet quiz %}

    <button style="margin-top: 70px" id="submit" class="btn btn-primary" disabled>Submit Scores</button>

    {#    <br>#}
    {#    <br>#}
    {#    <p>Quizmaster: {{ quiz.room.quizmaster }}</p>#}
    {#    <p>Scorekeeper: {{ quiz.room.scorekeeper }}</p>#}

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'Quiz/quiz.js' %}"></script>


{% endblock content %}
