
{% extends "base.html" %}
{% block title %}
Material
{% endblock title %}
{% load static %}

{% block content %}<div class="book">
	<div class="chapter">
		<h2>Matthew 5</h2
>		<div class="verse">
			<div class="referance">1</div>
			<dt>And </dt> <dt><once>seeing</once></dt> <dt>the </dt> <dt><once>multitudes,</once></dt> <dt>he </dt> <dt><once>went</once></dt> <dt>up </dt> <dt>into </dt> <dt>a </dt> <dt><once>mountain:</once></dt> <dt>and </dt> <dt>when </dt> <dt>he </dt> <dt>was </dt> <dt><twice>set,</twice></dt> <dt>his </dt> <dt><once>disciples</once></dt> <dt>came </dt> <dt>unto </dt> <dt>him: </dt> 
		</div>
		<div class="verse">
			<div class="referance">2</div>
			<dt>And </dt> <dt>he </dt> <dt>opened </dt> <dt>his </dt> <dt><once>mouth,</once></dt> <dt>and </dt> <dt><twice>taught</twice></dt> <dt>them, </dt> <dt><twice>saying,</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">3</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>the </dt> <dt><once>poor</once></dt> <dt>in </dt> <dt><once>spirit:</once></dt> <dt>for </dt> <dt><twice>theirs</twice></dt> <dt>is </dt> <dt>the </dt> <dt>kingdom </dt> <dt>of </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">4</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>they </dt> <dt>that </dt> <dt><once>mourn:</once></dt> <dt>for </dt> <dt>they </dt> <dt>shall </dt> <dt>be </dt> <dt><once>comforted.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">5</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>the </dt> <dt><once>meek:</once></dt> <dt>for </dt> <dt>they </dt> <dt>shall </dt> <dt><once>inherit</once></dt> <dt>the </dt> <dt>earth. </dt> 
		</div>
		<div class="verse">
			<div class="referance">6</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>they </dt> <dt>which </dt> <dt>do </dt> <dt><once>hunger</once></dt> <dt>and </dt> <dt><once>thirst</once></dt> <dt>after </dt> <dt>righteousness: </dt> <dt>for </dt> <dt>they </dt> <dt>shall </dt> <dt>be </dt> <dt><once>filled.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">7</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>the </dt> <dt><once>merciful:</once></dt> <dt>for </dt> <dt>they </dt> <dt>shall </dt> <dt><once>obtain</once></dt> <dt><once>mercy.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">8</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>the </dt> <dt><once>pure</once></dt> <dt>in </dt> <dt>heart: </dt> <dt>for </dt> <dt>they </dt> <dt>shall </dt> <dt>see </dt> <dt>God. </dt> 
		</div>
		<div class="verse">
			<div class="referance">9</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>the </dt> <dt><once>peacemakers:</once></dt> <dt>for </dt> <dt>they </dt> <dt>shall </dt> <dt>be </dt> <dt>called </dt> <dt>the </dt> <dt>children </dt> <dt>of </dt> <dt>God. </dt> 
		</div>
		<div class="verse">
			<div class="referance">10</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>they </dt> <dt>which </dt> <dt>are </dt> <dt><twice>persecuted</twice></dt> <dt>for </dt> <dt>righteousness' </dt> <dt><twice>sake:</twice></dt> <dt>for </dt> <dt><twice>theirs</twice></dt> <dt>is </dt> <dt>the </dt> <dt>kingdom </dt> <dt>of </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">11</div>
			<dt>Blessed </dt> <dt>are </dt> <dt>ye, </dt> <dt>when </dt> <dt>men </dt> <dt>shall </dt> <dt><once>revile</once></dt> <dt>you, </dt> <dt>and </dt> <dt><twice>persecute</twice></dt> <dt>you, </dt> <dt>and </dt> <dt>shall </dt> <dt>say </dt> <dt>all </dt> <dt><twice>manner</twice></dt> <dt>of </dt> <dt>evil </dt> <dt><twice>against</twice></dt> <dt>you </dt> <dt><once>falsely,</once></dt> <dt>for </dt> <dt><twice>my</twice></dt> <dt><twice>sake.</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">12</div>
			<dt><once>Rejoice,</once></dt> <dt>and </dt> <dt>be </dt> <dt><once>exceeding</once></dt> <dt><once>glad:</once></dt> <dt>for </dt> <dt>great </dt> <dt>is </dt> <dt>your </dt> <dt>reward </dt> <dt>in </dt> <dt>heaven: </dt> <dt>for </dt> <dt>so </dt> <dt><twice>persecuted</twice></dt> <dt>they </dt> <dt>the </dt> <dt>prophets </dt> <dt>which </dt> <dt><twice>were</twice></dt> <dt>before </dt> <dt>you. </dt> 
		</div>
		<div class="verse">
			<div class="referance">13</div>
			<dt>Ye </dt> <dt>are </dt> <dt>the </dt> <dt><twice>salt</twice></dt> <dt>of </dt> <dt>the </dt> <dt>earth: </dt> <dt>but </dt> <dt>if </dt> <dt>the </dt> <dt><twice>salt</twice></dt> <dt>have </dt> <dt><once>lost</once></dt> <dt>his </dt> <dt><once>savour,</once></dt> <dt><once>wherewith</once></dt> <dt>shall </dt> <dt>it </dt> <dt>be </dt> <dt><once>salted?</once></dt> <dt>it </dt> <dt>is </dt> <dt><once>thenceforth</once></dt> <dt>good </dt> <dt>for </dt> <dt><once>nothing,</once></dt> <dt>but </dt> <dt>to </dt> <dt>be </dt> <dt>cast </dt> <dt>out, </dt> <dt>and </dt> <dt>to </dt> <dt>be </dt> <dt><once>trodden</once></dt> <dt>under </dt> <dt><once>foot</once></dt> <dt>of </dt> <dt>men. </dt> 
		</div>
		<div class="verse">
			<div class="referance">14</div>
			<dt>Ye </dt> <dt>are </dt> <dt>the </dt> <dt>light </dt> <dt>of </dt> <dt>the </dt> <dt><once>world.</once></dt> <dt>A </dt> <dt><twice>city</twice></dt> <dt>that </dt> <dt>is </dt> <dt><twice>set</twice></dt> <dt>on </dt> <dt>an </dt> <dt><once>hill</once></dt> <dt>cannot </dt> <dt>be </dt> <dt><once>hid.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">15</div>
			<dt>Neither </dt> <dt>do </dt> <dt>men </dt> <dt>light </dt> <dt>a </dt> <dt><once>candle,</once></dt> <dt>and </dt> <dt>put </dt> <dt>it </dt> <dt>under </dt> <dt>a </dt> <dt><once>bushel,</once></dt> <dt>but </dt> <dt>on </dt> <dt>a </dt> <dt><once>candlestick;</once></dt> <dt>and </dt> <dt>it </dt> <dt><once>giveth</once></dt> <dt>light </dt> <dt>unto </dt> <dt>all </dt> <dt>that </dt> <dt>are </dt> <dt>in </dt> <dt>the </dt> <dt>house. </dt> 
		</div>
		<div class="verse">
			<div class="referance">16</div>
			<dt>Let </dt> <dt>your </dt> <dt>light </dt> <dt>so </dt> <dt><once>shine</once></dt> <dt>before </dt> <dt>men, </dt> <dt>that </dt> <dt>they </dt> <dt>may </dt> <dt>see </dt> <dt>your </dt> <dt>good </dt> <dt><twice>works,</twice></dt> <dt>and </dt> <dt><once>glorify</once></dt> <dt>your </dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">17</div>
			<dt><twice>Think</twice></dt> <dt>not </dt> <dt>that </dt> <dt>I </dt> <dt><twice>am</twice></dt> <dt>come </dt> <dt>to </dt> <dt><twice>destroy</twice></dt> <dt>the </dt> <dt>law, </dt> <dt>or </dt> <dt>the </dt> <dt>prophets: </dt> <dt>I </dt> <dt><twice>am</twice></dt> <dt>not </dt> <dt>come </dt> <dt>to </dt> <dt><twice>destroy,</twice></dt> <dt>but </dt> <dt>to </dt> <dt><once>fulfil.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">18</div>
			<dt>For </dt> <dt>verily </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>Till </dt> <dt>heaven </dt> <dt>and </dt> <dt>earth </dt> <dt>pass, </dt> <dt>one </dt> <dt><once>jot</once></dt> <dt>or </dt> <dt>one </dt> <dt><once>tittle</once></dt> <dt>shall </dt> <dt>in </dt> <dt>no </dt> <dt><twice>wise</twice></dt> <dt>pass </dt> <dt>from </dt> <dt>the </dt> <dt>law, </dt> <dt>till </dt> <dt>all </dt> <dt>be </dt> <dt><once>fulfilled.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">19</div>
			<dt>Whosoever </dt> <dt>therefore </dt> <dt>shall </dt> <dt>break </dt> <dt>one </dt> <dt>of </dt> <dt>these </dt> <dt><twice>least</twice></dt> <dt><once>commandments,</once></dt> <dt>and </dt> <dt>shall </dt> <dt><twice>teach</twice></dt> <dt>men </dt> <dt>so, </dt> <dt>he </dt> <dt>shall </dt> <dt>be </dt> <dt>called </dt> <dt>the </dt> <dt><twice>least</twice></dt> <dt>in </dt> <dt>the </dt> <dt>kingdom </dt> <dt>of </dt> <dt>heaven: </dt> <dt>but </dt> <dt>whosoever </dt> <dt>shall </dt> <dt>do </dt> <dt>and </dt> <dt><twice>teach</twice></dt> <dt>them, </dt> <dt>the </dt> <dt><twice>same</twice></dt> <dt>shall </dt> <dt>be </dt> <dt>called </dt> <dt>great </dt> <dt>in </dt> <dt>the </dt> <dt>kingdom </dt> <dt>of </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">20</div>
			<dt>For </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>That </dt> <dt><once>except</once></dt> <dt>your </dt> <dt>righteousness </dt> <dt>shall </dt> <dt><once>exceed</once></dt> <dt>the </dt> <dt>righteousness </dt> <dt>of </dt> <dt>the </dt> <dt><twice>scribes</twice></dt> <dt>and </dt> <dt><once>Pharisees,</once></dt> <dt>ye </dt> <dt>shall </dt> <dt>in </dt> <dt>no </dt> <dt><once>case</once></dt> <dt>enter </dt> <dt>into </dt> <dt>the </dt> <dt>kingdom </dt> <dt>of </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">21</div>
			<dt>Ye </dt> <dt>have </dt> <dt>heard </dt> <dt>that </dt> <dt>it </dt> <dt>was </dt> <dt>said </dt> <dt>by </dt> <dt>them </dt> <dt>of </dt> <dt>old </dt> <dt>time, </dt> <dt>Thou </dt> <dt>shalt </dt> <dt>not </dt> <dt><twice>kill;</twice></dt> <dt>and </dt> <dt>whosoever </dt> <dt>shall </dt> <dt><twice>kill</twice></dt> <dt>shall </dt> <dt>be </dt> <dt>in </dt> <dt>danger </dt> <dt>of </dt> <dt>the </dt> <dt>judgment: </dt> 
		</div>
		<div class="verse">
			<div class="referance">22</div>
			<dt>But </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>That </dt> <dt>whosoever </dt> <dt>is </dt> <dt><once>angry</once></dt> <dt>with </dt> <dt>his </dt> <dt>brother </dt> <dt><once>without</once></dt> <dt>a </dt> <dt><twice>cause</twice></dt> <dt>shall </dt> <dt>be </dt> <dt>in </dt> <dt>danger </dt> <dt>of </dt> <dt>the </dt> <dt>judgment: </dt> <dt>and </dt> <dt>whosoever </dt> <dt>shall </dt> <dt>say </dt> <dt>to </dt> <dt>his </dt> <dt>brother, </dt> <dt><once>Raca,</once></dt> <dt>shall </dt> <dt>be </dt> <dt>in </dt> <dt>danger </dt> <dt>of </dt> <dt>the </dt> <dt><once>council:</once></dt> <dt>but </dt> <dt>whosoever </dt> <dt>shall </dt> <dt>say, </dt> <dt>Thou </dt> <dt><once>fool,</once></dt> <dt>shall </dt> <dt>be </dt> <dt>in </dt> <dt>danger </dt> <dt>of </dt> <dt>hell </dt> <dt><twice>fire.</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">23</div>
			<dt>Therefore </dt> <dt>if </dt> <dt>thou </dt> <dt>bring </dt> <dt>thy </dt> <dt>gift </dt> <dt>to </dt> <dt>the </dt> <dt><twice>altar,</twice></dt> <dt>and </dt> <dt>there </dt> <dt><once>rememberest</once></dt> <dt>that </dt> <dt>thy </dt> <dt>brother </dt> <dt>hath </dt> <dt><once>ought</once></dt> <dt><twice>against</twice></dt> <dt>thee; </dt> 
		</div>
		<div class="verse">
			<div class="referance">24</div>
			<dt><once>Leave</once></dt> <dt>there </dt> <dt>thy </dt> <dt>gift </dt> <dt>before </dt> <dt>the </dt> <dt><twice>altar,</twice></dt> <dt>and </dt> <dt>go </dt> <dt>thy </dt> <dt>way; </dt> <dt>first </dt> <dt>be </dt> <dt><once>reconciled</once></dt> <dt>to </dt> <dt>thy </dt> <dt>brother, </dt> <dt>and </dt> <dt>then </dt> <dt>come </dt> <dt>and </dt> <dt><once>offer</once></dt> <dt>thy </dt> <dt>gift. </dt> 
		</div>
		<div class="verse">
			<div class="referance">25</div>
			<dt><once>Agree</once></dt> <dt>with </dt> <dt>thine </dt> <dt><twice>adversary</twice></dt> <dt><once>quickly,</once></dt> <dt><once>whiles</once></dt> <dt>thou </dt> <dt><twice>art</twice></dt> <dt>in </dt> <dt>the </dt> <dt>way </dt> <dt>with </dt> <dt>him; </dt> <dt><twice>lest</twice></dt> <dt>at </dt> <dt><twice>any</twice></dt> <dt>time </dt> <dt>the </dt> <dt><twice>adversary</twice></dt> <dt>deliver </dt> <dt>thee </dt> <dt>to </dt> <dt>the </dt> <dt>judge, </dt> <dt>and </dt> <dt>the </dt> <dt>judge </dt> <dt>deliver </dt> <dt>thee </dt> <dt>to </dt> <dt>the </dt> <dt><once>officer,</once></dt> <dt>and </dt> <dt>thou </dt> <dt>be </dt> <dt>cast </dt> <dt>into </dt> <dt><once>prison.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">26</div>
			<dt>Verily </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>thee, </dt> <dt>Thou </dt> <dt>shalt </dt> <dt>by </dt> <dt>no </dt> <dt><once>means</once></dt> <dt>come </dt> <dt>out </dt> <dt><once>thence,</once></dt> <dt>till </dt> <dt>thou </dt> <dt><twice>hast</twice></dt> <dt><once>paid</once></dt> <dt>the </dt> <dt><once>uttermost</once></dt> <dt><once>farthing.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">27</div>
			<dt>Ye </dt> <dt>have </dt> <dt>heard </dt> <dt>that </dt> <dt>it </dt> <dt>was </dt> <dt>said </dt> <dt>by </dt> <dt>them </dt> <dt>of </dt> <dt>old </dt> <dt>time, </dt> <dt>Thou </dt> <dt>shalt </dt> <dt>not </dt> <dt><twice>commit</twice></dt> <dt>adultery: </dt> 
		</div>
		<div class="verse">
			<div class="referance">28</div>
			<dt>But </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>That </dt> <dt>whosoever </dt> <dt><once>looketh</once></dt> <dt>on </dt> <dt>a </dt> <dt><once>woman</once></dt> <dt>to </dt> <dt><once>lust</once></dt> <dt>after </dt> <dt>her </dt> <dt>hath </dt> <dt><once>committed</once></dt> <dt>adultery </dt> <dt>with </dt> <dt>her </dt> <dt><once>already</once></dt> <dt>in </dt> <dt>his </dt> <dt>heart. </dt> 
		</div>
		<div class="verse">
			<div class="referance">29</div>
			<dt>And </dt> <dt>if </dt> <dt>thy </dt> <dt>right </dt> <dt>eye </dt> <dt><twice>offend</twice></dt> <dt>thee, </dt> <dt><once>pluck</once></dt> <dt>it </dt> <dt>out, </dt> <dt>and </dt> <dt>cast </dt> <dt>it </dt> <dt>from </dt> <dt>thee: </dt> <dt>for </dt> <dt>it </dt> <dt>is </dt> <dt><twice>profitable</twice></dt> <dt>for </dt> <dt>thee </dt> <dt>that </dt> <dt>one </dt> <dt>of </dt> <dt>thy </dt> <dt><twice>members</twice></dt> <dt>should </dt> <dt><twice>perish,</twice></dt> <dt>and </dt> <dt>not </dt> <dt>that </dt> <dt>thy </dt> <dt>whole </dt> <dt>body </dt> <dt>should </dt> <dt>be </dt> <dt>cast </dt> <dt>into </dt> <dt>hell. </dt> 
		</div>
		<div class="verse">
			<div class="referance">30</div>
			<dt>And </dt> <dt>if </dt> <dt>thy </dt> <dt>right </dt> <dt>hand </dt> <dt><twice>offend</twice></dt> <dt>thee, </dt> <dt><once>cut</once></dt> <dt>it </dt> <dt><once>off,</once></dt> <dt>and </dt> <dt>cast </dt> <dt>it </dt> <dt>from </dt> <dt>thee: </dt> <dt>for </dt> <dt>it </dt> <dt>is </dt> <dt><twice>profitable</twice></dt> <dt>for </dt> <dt>thee </dt> <dt>that </dt> <dt>one </dt> <dt>of </dt> <dt>thy </dt> <dt><twice>members</twice></dt> <dt>should </dt> <dt><twice>perish,</twice></dt> <dt>and </dt> <dt>not </dt> <dt>that </dt> <dt>thy </dt> <dt>whole </dt> <dt>body </dt> <dt>should </dt> <dt>be </dt> <dt>cast </dt> <dt>into </dt> <dt>hell. </dt> 
		</div>
		<div class="verse">
			<div class="referance">31</div>
			<dt>It </dt> <dt>hath </dt> <dt>been </dt> <dt>said, </dt> <dt>Whosoever </dt> <dt>shall </dt> <dt>put </dt> <dt>away </dt> <dt>his </dt> <dt><twice>wife,</twice></dt> <dt>let </dt> <dt>him </dt> <dt>give </dt> <dt>her </dt> <dt>a </dt> <dt><once>writing</once></dt> <dt>of </dt> <dt><once>divorcement:</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">32</div>
			<dt>But </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>That </dt> <dt>whosoever </dt> <dt>shall </dt> <dt>put </dt> <dt>away </dt> <dt>his </dt> <dt><twice>wife,</twice></dt> <dt><once>saving</once></dt> <dt>for </dt> <dt>the </dt> <dt><twice>cause</twice></dt> <dt>of </dt> <dt><once>fornication,</once></dt> <dt><once>causeth</once></dt> <dt>her </dt> <dt>to </dt> <dt><twice>commit</twice></dt> <dt>adultery: </dt> <dt>and </dt> <dt>whosoever </dt> <dt>shall </dt> <dt><once>marry</once></dt> <dt>her </dt> <dt>that </dt> <dt>is </dt> <dt><once>divorced</once></dt> <dt><once>committeth</once></dt> <dt>adultery. </dt> 
		</div>
		<div class="verse">
			<div class="referance">33</div>
			<dt>Again, </dt> <dt>ye </dt> <dt>have </dt> <dt>heard </dt> <dt>that </dt> <dt>it </dt> <dt>hath </dt> <dt>been </dt> <dt>said </dt> <dt>by </dt> <dt>them </dt> <dt>of </dt> <dt>old </dt> <dt>time, </dt> <dt>Thou </dt> <dt>shalt </dt> <dt>not </dt> <dt><once>forswear</once></dt> <dt><once>thyself,</once></dt> <dt>but </dt> <dt>shalt </dt> <dt><once>perform</once></dt> <dt>unto </dt> <dt>the </dt> <dt>Lord </dt> <dt>thine </dt> <dt><once>oaths:</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">34</div>
			<dt>But </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt><twice>Swear</twice></dt> <dt>not </dt> <dt>at </dt> <dt>all; </dt> <dt>neither </dt> <dt>by </dt> <dt>heaven; </dt> <dt>for </dt> <dt>it </dt> <dt>is </dt> <dt><once>God's</once></dt> <dt><once>throne:</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">35</div>
			<dt>Nor </dt> <dt>by </dt> <dt>the </dt> <dt>earth; </dt> <dt>for </dt> <dt>it </dt> <dt>is </dt> <dt>his </dt> <dt><once>footstool:</once></dt> <dt>neither </dt> <dt>by </dt> <dt><once>Jerusalem;</once></dt> <dt>for </dt> <dt>it </dt> <dt>is </dt> <dt>the </dt> <dt><twice>city</twice></dt> <dt>of </dt> <dt>the </dt> <dt>great </dt> <dt><once>King.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">36</div>
			<dt>Neither </dt> <dt>shalt </dt> <dt>thou </dt> <dt><twice>swear</twice></dt> <dt>by </dt> <dt>thy </dt> <dt><twice>head,</twice></dt> <dt><twice>because</twice></dt> <dt>thou </dt> <dt><once>canst</once></dt> <dt>not </dt> <dt><once>make</once></dt> <dt>one </dt> <dt><once>hair</once></dt> <dt><once>white</once></dt> <dt>or </dt> <dt><once>black.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">37</div>
			<dt>But </dt> <dt>let </dt> <dt>your </dt> <dt><once>communication</once></dt> <dt>be, </dt> <dt><twice>Yea,</twice></dt> <dt><twice>yea;</twice></dt> <dt><twice>Nay,</twice></dt> <dt><twice>nay:</twice></dt> <dt>for </dt> <dt><twice>whatsoever</twice></dt> <dt>is </dt> <dt>more </dt> <dt>than </dt> <dt>these </dt> <dt><once>cometh</once></dt> <dt>of </dt> <dt>evil. </dt> 
		</div>
		<div class="verse">
			<div class="referance">38</div>
			<dt>Ye </dt> <dt>have </dt> <dt>heard </dt> <dt>that </dt> <dt>it </dt> <dt>hath </dt> <dt>been </dt> <dt>said, </dt> <dt>An </dt> <dt>eye </dt> <dt>for </dt> <dt>an </dt> <dt>eye, </dt> <dt>and </dt> <dt>a </dt> <dt><twice>tooth</twice></dt> <dt>for </dt> <dt>a </dt> <dt><twice>tooth:</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">39</div>
			<dt>But </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>That </dt> <dt>ye </dt> <dt><once>resist</once></dt> <dt>not </dt> <dt>evil: </dt> <dt>but </dt> <dt>whosoever </dt> <dt>shall </dt> <dt><once>smite</once></dt> <dt>thee </dt> <dt>on </dt> <dt>thy </dt> <dt>right </dt> <dt><once>cheek,</once></dt> <dt>turn </dt> <dt>to </dt> <dt>him </dt> <dt>the </dt> <dt>other </dt> <dt>also. </dt> 
		</div>
		<div class="verse">
			<div class="referance">40</div>
			<dt>And </dt> <dt>if </dt> <dt><twice>any</twice></dt> <dt>man </dt> <dt>will </dt> <dt><once>sue</once></dt> <dt>thee </dt> <dt>at </dt> <dt>the </dt> <dt>law, </dt> <dt>and </dt> <dt>take </dt> <dt>away </dt> <dt>thy </dt> <dt><once>coat,</once></dt> <dt>let </dt> <dt>him </dt> <dt>have </dt> <dt>thy </dt> <dt><once>cloke</once></dt> <dt>also. </dt> 
		</div>
		<div class="verse">
			<div class="referance">41</div>
			<dt>And </dt> <dt>whosoever </dt> <dt>shall </dt> <dt><once>compel</once></dt> <dt>thee </dt> <dt>to </dt> <dt>go </dt> <dt>a </dt> <dt><once>mile,</once></dt> <dt>go </dt> <dt>with </dt> <dt>him </dt> <dt><once>twain.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">42</div>
			<dt>Give </dt> <dt>to </dt> <dt>him </dt> <dt>that </dt> <dt><twice>asketh</twice></dt> <dt>thee, </dt> <dt>and </dt> <dt>from </dt> <dt>him </dt> <dt>that </dt> <dt><twice>would</twice></dt> <dt><once>borrow</once></dt> <dt>of </dt> <dt>thee </dt> <dt>turn </dt> <dt>not </dt> <dt>thou </dt> <dt>away. </dt> 
		</div>
		<div class="verse">
			<div class="referance">43</div>
			<dt>Ye </dt> <dt>have </dt> <dt>heard </dt> <dt>that </dt> <dt>it </dt> <dt>hath </dt> <dt>been </dt> <dt>said, </dt> <dt>Thou </dt> <dt>shalt </dt> <dt>love </dt> <dt>thy </dt> <dt><once>neighbour,</once></dt> <dt>and </dt> <dt>hate </dt> <dt>thine </dt> <dt><once>enemy.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">44</div>
			<dt>But </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>Love </dt> <dt>your </dt> <dt><once>enemies,</once></dt> <dt><once>bless</once></dt> <dt>them </dt> <dt>that </dt> <dt><once>curse</once></dt> <dt>you, </dt> <dt>do </dt> <dt>good </dt> <dt>to </dt> <dt>them </dt> <dt>that </dt> <dt>hate </dt> <dt>you, </dt> <dt>and </dt> <dt>pray </dt> <dt>for </dt> <dt>them </dt> <dt>which </dt> <dt><once>despitefully</once></dt> <dt><twice>use</twice></dt> <dt>you, </dt> <dt>and </dt> <dt><twice>persecute</twice></dt> <dt>you; </dt> 
		</div>
		<div class="verse">
			<div class="referance">45</div>
			<dt>That </dt> <dt>ye </dt> <dt>may </dt> <dt>be </dt> <dt>the </dt> <dt>children </dt> <dt>of </dt> <dt>your </dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>heaven: </dt> <dt>for </dt> <dt>he </dt> <dt><once>maketh</once></dt> <dt>his </dt> <dt><once>sun</once></dt> <dt>to </dt> <dt><once>rise</once></dt> <dt>on </dt> <dt>the </dt> <dt>evil </dt> <dt>and </dt> <dt>on </dt> <dt>the </dt> <dt>good, </dt> <dt>and </dt> <dt><once>sendeth</once></dt> <dt>rain </dt> <dt>on </dt> <dt>the </dt> <dt><once>just</once></dt> <dt>and </dt> <dt>on </dt> <dt>the </dt> <dt><once>unjust.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">46</div>
			<dt>For </dt> <dt>if </dt> <dt>ye </dt> <dt>love </dt> <dt>them </dt> <dt>which </dt> <dt>love </dt> <dt>you, </dt> <dt>what </dt> <dt>reward </dt> <dt>have </dt> <dt>ye? </dt> <dt>do </dt> <dt>not </dt> <dt>even </dt> <dt>the </dt> <dt><twice>publicans</twice></dt> <dt>the </dt> <dt><twice>same?</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">47</div>
			<dt>And </dt> <dt>if </dt> <dt>ye </dt> <dt><once>salute</once></dt> <dt>your </dt> <dt><once>brethren</once></dt> <dt><once>only,</once></dt> <dt>what </dt> <dt>do </dt> <dt>ye </dt> <dt>more </dt> <dt>than </dt> <dt><once>others?</once></dt> <dt>do </dt> <dt>not </dt> <dt>even </dt> <dt>the </dt> <dt><twice>publicans</twice></dt> <dt>so? </dt> 
		</div>
		<div class="verse">
			<div class="referance">48</div>
			<dt>Be </dt> <dt>ye </dt> <dt>therefore </dt> <dt><twice>perfect,</twice></dt> <dt>even </dt> <dt>as </dt> <dt>your </dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>heaven </dt> <dt>is </dt> <dt><twice>perfect.</twice></dt> 
		</div>
	</div>
	<div class="chapter">
		<h2>Matthew 6</h2
>		<div class="verse">
			<div class="referance">1</div>
			<dt>Take </dt> <dt><once>heed</once></dt> <dt>that </dt> <dt>ye </dt> <dt>do </dt> <dt>not </dt> <dt>your </dt> <dt>alms </dt> <dt>before </dt> <dt>men, </dt> <dt>to </dt> <dt>be </dt> <dt><twice>seen</twice></dt> <dt>of </dt> <dt>them: </dt> <dt><once>otherwise</once></dt> <dt>ye </dt> <dt>have </dt> <dt>no </dt> <dt>reward </dt> <dt>of </dt> <dt>your </dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">2</div>
			<dt>Therefore </dt> <dt>when </dt> <dt>thou </dt> <dt><twice>doest</twice></dt> <dt>thine </dt> <dt>alms, </dt> <dt>do </dt> <dt>not </dt> <dt><once>sound</once></dt> <dt>a </dt> <dt><once>trumpet</once></dt> <dt>before </dt> <dt>thee, </dt> <dt>as </dt> <dt>the </dt> <dt>hypocrites </dt> <dt>do </dt> <dt>in </dt> <dt>the </dt> <dt><twice>synagogues</twice></dt> <dt>and </dt> <dt>in </dt> <dt>the </dt> <dt><twice>streets,</twice></dt> <dt>that </dt> <dt>they </dt> <dt>may </dt> <dt>have </dt> <dt>glory </dt> <dt>of </dt> <dt>men. </dt> <dt>Verily </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>They </dt> <dt>have </dt> <dt>their </dt> <dt>reward. </dt> 
		</div>
		<div class="verse">
			<div class="referance">3</div>
			<dt>But </dt> <dt>when </dt> <dt>thou </dt> <dt><twice>doest</twice></dt> <dt>alms, </dt> <dt>let </dt> <dt>not </dt> <dt>thy </dt> <dt><once>left</once></dt> <dt>hand </dt> <dt>know </dt> <dt>what </dt> <dt>thy </dt> <dt>right </dt> <dt>hand </dt> <dt>doeth: </dt> 
		</div>
		<div class="verse">
			<div class="referance">4</div>
			<dt>That </dt> <dt>thine </dt> <dt>alms </dt> <dt>may </dt> <dt>be </dt> <dt>in </dt> <dt>secret: </dt> <dt>and </dt> <dt>thy </dt> <dt>Father </dt> <dt>which </dt> <dt>seeth </dt> <dt>in </dt> <dt>secret </dt> <dt><once>himself</once></dt> <dt>shall </dt> <dt>reward </dt> <dt>thee </dt> <dt>openly. </dt> 
		</div>
		<div class="verse">
			<div class="referance">5</div>
			<dt>And </dt> <dt>when </dt> <dt>thou </dt> <dt><twice>prayest,</twice></dt> <dt>thou </dt> <dt>shalt </dt> <dt>not </dt> <dt>be </dt> <dt>as </dt> <dt>the </dt> <dt>hypocrites </dt> <dt>are: </dt> <dt>for </dt> <dt>they </dt> <dt>love </dt> <dt>to </dt> <dt>pray </dt> <dt><once>standing</once></dt> <dt>in </dt> <dt>the </dt> <dt><twice>synagogues</twice></dt> <dt>and </dt> <dt>in </dt> <dt>the </dt> <dt><once>corners</once></dt> <dt>of </dt> <dt>the </dt> <dt><twice>streets,</twice></dt> <dt>that </dt> <dt>they </dt> <dt>may </dt> <dt>be </dt> <dt><twice>seen</twice></dt> <dt>of </dt> <dt>men. </dt> <dt>Verily </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>They </dt> <dt>have </dt> <dt>their </dt> <dt>reward. </dt> 
		</div>
		<div class="verse">
			<div class="referance">6</div>
			<dt>But </dt> <dt>thou, </dt> <dt>when </dt> <dt>thou </dt> <dt><twice>prayest,</twice></dt> <dt>enter </dt> <dt>into </dt> <dt>thy </dt> <dt><once>closet,</once></dt> <dt>and </dt> <dt>when </dt> <dt>thou </dt> <dt><twice>hast</twice></dt> <dt><once>shut</once></dt> <dt>thy </dt> <dt><once>door,</once></dt> <dt>pray </dt> <dt>to </dt> <dt>thy </dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>secret; </dt> <dt>and </dt> <dt>thy </dt> <dt>Father </dt> <dt>which </dt> <dt>seeth </dt> <dt>in </dt> <dt>secret </dt> <dt>shall </dt> <dt>reward </dt> <dt>thee </dt> <dt>openly. </dt> 
		</div>
		<div class="verse">
			<div class="referance">7</div>
			<dt>But </dt> <dt>when </dt> <dt>ye </dt> <dt>pray, </dt> <dt><twice>use</twice></dt> <dt>not </dt> <dt><once>vain</once></dt> <dt><once>repetitions,</once></dt> <dt>as </dt> <dt>the </dt> <dt><once>heathen</once></dt> <dt>do: </dt> <dt>for </dt> <dt>they </dt> <dt><twice>think</twice></dt> <dt>that </dt> <dt>they </dt> <dt>shall </dt> <dt>be </dt> <dt>heard </dt> <dt>for </dt> <dt>their </dt> <dt>much </dt> <dt><once>speaking.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">8</div>
			<dt>Be </dt> <dt>not </dt> <dt>ye </dt> <dt>therefore </dt> <dt><twice>like</twice></dt> <dt>unto </dt> <dt>them: </dt> <dt>for </dt> <dt>your </dt> <dt>Father </dt> <dt><twice>knoweth</twice></dt> <dt>what </dt> <dt>things </dt> <dt>ye </dt> <dt>have </dt> <dt><twice>need</twice></dt> <dt>of, </dt> <dt>before </dt> <dt>ye </dt> <dt>ask </dt> <dt>him. </dt> 
		</div>
		<div class="verse">
			<div class="referance">9</div>
			<dt>After </dt> <dt>this </dt> <dt><twice>manner</twice></dt> <dt>therefore </dt> <dt>pray </dt> <dt>ye: </dt> <dt>Our </dt> <dt>Father </dt> <dt>which </dt> <dt><twice>art</twice></dt> <dt>in </dt> <dt>heaven, </dt> <dt><once>Hallowed</once></dt> <dt>be </dt> <dt>thy </dt> <dt>name. </dt> 
		</div>
		<div class="verse">
			<div class="referance">10</div>
			<dt>Thy </dt> <dt>kingdom </dt> <dt>come. </dt> <dt>Thy </dt> <dt>will </dt> <dt>be </dt> <dt><twice>done</twice></dt> <dt>in </dt> <dt>earth, </dt> <dt>as </dt> <dt>it </dt> <dt>is </dt> <dt>in </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">11</div>
			<dt>Give </dt> <dt>us </dt> <dt>this </dt> <dt>day </dt> <dt>our </dt> <dt><once>daily</once></dt> <dt><twice>bread.</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">12</div>
			<dt>And </dt> <dt>forgive </dt> <dt>us </dt> <dt>our </dt> <dt><once>debts,</once></dt> <dt>as </dt> <dt>we </dt> <dt>forgive </dt> <dt>our </dt> <dt><once>debtors.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">13</div>
			<dt>And </dt> <dt><once>lead</once></dt> <dt>us </dt> <dt>not </dt> <dt>into </dt> <dt><once>temptation,</once></dt> <dt>but </dt> <dt>deliver </dt> <dt>us </dt> <dt>from </dt> <dt>evil: </dt> <dt>For </dt> <dt>thine </dt> <dt>is </dt> <dt>the </dt> <dt>kingdom, </dt> <dt>and </dt> <dt>the </dt> <dt><once>power,</once></dt> <dt>and </dt> <dt>the </dt> <dt>glory, </dt> <dt>for </dt> <dt><once>ever.</once></dt> <dt><once>Amen.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">14</div>
			<dt>For </dt> <dt>if </dt> <dt>ye </dt> <dt>forgive </dt> <dt>men </dt> <dt>their </dt> <dt>trespasses, </dt> <dt>your </dt> <dt>heavenly </dt> <dt>Father </dt> <dt>will </dt> <dt>also </dt> <dt>forgive </dt> <dt>you: </dt> 
		</div>
		<div class="verse">
			<div class="referance">15</div>
			<dt>But </dt> <dt>if </dt> <dt>ye </dt> <dt>forgive </dt> <dt>not </dt> <dt>men </dt> <dt>their </dt> <dt>trespasses, </dt> <dt>neither </dt> <dt>will </dt> <dt>your </dt> <dt>Father </dt> <dt>forgive </dt> <dt>your </dt> <dt>trespasses. </dt> 
		</div>
		<div class="verse">
			<div class="referance">16</div>
			<dt><once>Moreover</once></dt> <dt>when </dt> <dt>ye </dt> <dt>fast, </dt> <dt>be </dt> <dt>not, </dt> <dt>as </dt> <dt>the </dt> <dt>hypocrites, </dt> <dt>of </dt> <dt>a </dt> <dt><once>sad</once></dt> <dt><once>countenance:</once></dt> <dt>for </dt> <dt>they </dt> <dt><once>disfigure</once></dt> <dt>their </dt> <dt><once>faces,</once></dt> <dt>that </dt> <dt>they </dt> <dt>may </dt> <dt><twice>appear</twice></dt> <dt>unto </dt> <dt>men </dt> <dt>to </dt> <dt>fast. </dt> <dt>Verily </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>They </dt> <dt>have </dt> <dt>their </dt> <dt>reward. </dt> 
		</div>
		<div class="verse">
			<div class="referance">17</div>
			<dt>But </dt> <dt>thou, </dt> <dt>when </dt> <dt>thou </dt> <dt><once>fastest,</once></dt> <dt><once>anoint</once></dt> <dt>thine </dt> <dt><twice>head,</twice></dt> <dt>and </dt> <dt><once>wash</once></dt> <dt>thy </dt> <dt><once>face;</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">18</div>
			<dt>That </dt> <dt>thou </dt> <dt><twice>appear</twice></dt> <dt>not </dt> <dt>unto </dt> <dt>men </dt> <dt>to </dt> <dt>fast, </dt> <dt>but </dt> <dt>unto </dt> <dt>thy </dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>secret: </dt> <dt>and </dt> <dt>thy </dt> <dt>Father, </dt> <dt>which </dt> <dt>seeth </dt> <dt>in </dt> <dt>secret, </dt> <dt>shall </dt> <dt>reward </dt> <dt>thee </dt> <dt>openly. </dt> 
		</div>
		<div class="verse">
			<div class="referance">19</div>
			<dt><twice>Lay</twice></dt> <dt>not </dt> <dt>up </dt> <dt>for </dt> <dt><twice>yourselves</twice></dt> <dt><twice>treasures</twice></dt> <dt>upon </dt> <dt>earth, </dt> <dt>where </dt> <dt><twice>moth</twice></dt> <dt>and </dt> <dt><twice>rust</twice></dt> <dt><twice>doth</twice></dt> <dt>corrupt, </dt> <dt>and </dt> <dt>where </dt> <dt><twice>thieves</twice></dt> <dt>break </dt> <dt><twice>through</twice></dt> <dt>and </dt> <dt><twice>steal:</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">20</div>
			<dt>But </dt> <dt><twice>lay</twice></dt> <dt>up </dt> <dt>for </dt> <dt><twice>yourselves</twice></dt> <dt><twice>treasures</twice></dt> <dt>in </dt> <dt>heaven, </dt> <dt>where </dt> <dt>neither </dt> <dt><twice>moth</twice></dt> <dt>nor </dt> <dt><twice>rust</twice></dt> <dt><twice>doth</twice></dt> <dt>corrupt, </dt> <dt>and </dt> <dt>where </dt> <dt><twice>thieves</twice></dt> <dt>do </dt> <dt>not </dt> <dt>break </dt> <dt><twice>through</twice></dt> <dt>nor </dt> <dt><twice>steal:</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">21</div>
			<dt>For </dt> <dt>where </dt> <dt>your </dt> <dt><once>treasure</once></dt> <dt>is, </dt> <dt>there </dt> <dt>will </dt> <dt>your </dt> <dt>heart </dt> <dt>be </dt> <dt>also. </dt> 
		</div>
		<div class="verse">
			<div class="referance">22</div>
			<dt>The </dt> <dt>light </dt> <dt>of </dt> <dt>the </dt> <dt>body </dt> <dt>is </dt> <dt>the </dt> <dt>eye: </dt> <dt>if </dt> <dt>therefore </dt> <dt>thine </dt> <dt>eye </dt> <dt>be </dt> <dt><once>single,</once></dt> <dt>thy </dt> <dt>whole </dt> <dt>body </dt> <dt>shall </dt> <dt>be </dt> <dt><twice>full</twice></dt> <dt>of </dt> <dt>light. </dt> 
		</div>
		<div class="verse">
			<div class="referance">23</div>
			<dt>But </dt> <dt>if </dt> <dt>thine </dt> <dt>eye </dt> <dt>be </dt> <dt>evil, </dt> <dt>thy </dt> <dt>whole </dt> <dt>body </dt> <dt>shall </dt> <dt>be </dt> <dt><twice>full</twice></dt> <dt>of </dt> <dt>darkness. </dt> <dt>If </dt> <dt>therefore </dt> <dt>the </dt> <dt>light </dt> <dt>that </dt> <dt>is </dt> <dt>in </dt> <dt>thee </dt> <dt>be </dt> <dt>darkness, </dt> <dt>how </dt> <dt>great </dt> <dt>is </dt> <dt>that </dt> <dt>darkness! </dt> 
		</div>
		<div class="verse">
			<div class="referance">24</div>
			<dt>No </dt> <dt>man </dt> <dt>can </dt> <dt><twice>serve</twice></dt> <dt><once>two</once></dt> <dt><once>masters:</once></dt> <dt>for </dt> <dt><once>either</once></dt> <dt>he </dt> <dt>will </dt> <dt>hate </dt> <dt>the </dt> <dt>one, </dt> <dt>and </dt> <dt>love </dt> <dt>the </dt> <dt>other; </dt> <dt>or </dt> <dt><once>else</once></dt> <dt>he </dt> <dt>will </dt> <dt><once>hold</once></dt> <dt>to </dt> <dt>the </dt> <dt>one, </dt> <dt>and </dt> <dt><once>despise</once></dt> <dt>the </dt> <dt>other. </dt> <dt>Ye </dt> <dt>cannot </dt> <dt><twice>serve</twice></dt> <dt>God </dt> <dt>and </dt> <dt><once>mammon.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">25</div>
			<dt>Therefore </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>Take </dt> <dt>no </dt> <dt>thought </dt> <dt>for </dt> <dt>your </dt> <dt>life, </dt> <dt>what </dt> <dt>ye </dt> <dt>shall </dt> <dt><twice>eat,</twice></dt> <dt>or </dt> <dt>what </dt> <dt>ye </dt> <dt>shall </dt> <dt><twice>drink;</twice></dt> <dt>nor </dt> <dt>yet </dt> <dt>for </dt> <dt>your </dt> <dt>body, </dt> <dt>what </dt> <dt>ye </dt> <dt>shall </dt> <dt>put </dt> <dt>on. </dt> <dt>Is </dt> <dt>not </dt> <dt>the </dt> <dt>life </dt> <dt>more </dt> <dt>than </dt> <dt><once>meat,</once></dt> <dt>and </dt> <dt>the </dt> <dt>body </dt> <dt>than </dt> <dt><twice>raiment?</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">26</div>
			<dt><twice>Behold</twice></dt> <dt>the </dt> <dt><once>fowls</once></dt> <dt>of </dt> <dt>the </dt> <dt><once>air:</once></dt> <dt>for </dt> <dt>they </dt> <dt><once>sow</once></dt> <dt>not, </dt> <dt>neither </dt> <dt>do </dt> <dt>they </dt> <dt><once>reap,</once></dt> <dt>nor </dt> <dt><twice>gather</twice></dt> <dt>into </dt> <dt><once>barns;</once></dt> <dt>yet </dt> <dt>your </dt> <dt>heavenly </dt> <dt>Father </dt> <dt><once>feedeth</once></dt> <dt>them. </dt> <dt>Are </dt> <dt>ye </dt> <dt>not </dt> <dt>much </dt> <dt><once>better</once></dt> <dt>than </dt> <dt>they? </dt> 
		</div>
		<div class="verse">
			<div class="referance">27</div>
			<dt>Which </dt> <dt>of </dt> <dt>you </dt> <dt>by </dt> <dt><once>taking</once></dt> <dt>thought </dt> <dt>can </dt> <dt><once>add</once></dt> <dt>one </dt> <dt><once>cubit</once></dt> <dt>unto </dt> <dt>his </dt> <dt><once>stature?</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">28</div>
			<dt>And </dt> <dt><twice>why</twice></dt> <dt>take </dt> <dt>ye </dt> <dt>thought </dt> <dt>for </dt> <dt><twice>raiment?</twice></dt> <dt><once>Consider</once></dt> <dt>the </dt> <dt><once>lilies</once></dt> <dt>of </dt> <dt>the </dt> <dt><twice>field,</twice></dt> <dt>how </dt> <dt>they </dt> <dt><once>grow;</once></dt> <dt>they </dt> <dt><once>toil</once></dt> <dt>not, </dt> <dt>neither </dt> <dt>do </dt> <dt>they </dt> <dt><once>spin:</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">29</div>
			<dt>And </dt> <dt>yet </dt> <dt>I </dt> <dt>say </dt> <dt>unto </dt> <dt>you, </dt> <dt>That </dt> <dt>even </dt> <dt><once>Solomon</once></dt> <dt>in </dt> <dt>all </dt> <dt>his </dt> <dt>glory </dt> <dt>was </dt> <dt>not </dt> <dt><once>arrayed</once></dt> <dt><twice>like</twice></dt> <dt>one </dt> <dt>of </dt> <dt>these. </dt> 
		</div>
		<div class="verse">
			<div class="referance">30</div>
			<dt><twice>Wherefore,</twice></dt> <dt>if </dt> <dt>God </dt> <dt>so </dt> <dt><twice>clothe</twice></dt> <dt>the </dt> <dt><once>grass</once></dt> <dt>of </dt> <dt>the </dt> <dt><twice>field,</twice></dt> <dt>which </dt> <dt>to </dt> <dt>day </dt> <dt>is, </dt> <dt>and </dt> <dt>to </dt> <dt>morrow </dt> <dt>is </dt> <dt>cast </dt> <dt>into </dt> <dt>the </dt> <dt><once>oven,</once></dt> <dt>shall </dt> <dt>he </dt> <dt>not </dt> <dt>much </dt> <dt>more </dt> <dt><twice>clothe</twice></dt> <dt>you, </dt> <dt><once>O</once></dt> <dt>ye </dt> <dt>of </dt> <dt><once>little</once></dt> <dt><once>faith?</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">31</div>
			<dt>Therefore </dt> <dt>take </dt> <dt>no </dt> <dt>thought, </dt> <dt><twice>saying,</twice></dt> <dt>What </dt> <dt>shall </dt> <dt>we </dt> <dt><twice>eat?</twice></dt> <dt>or, </dt> <dt>What </dt> <dt>shall </dt> <dt>we </dt> <dt><twice>drink?</twice></dt> <dt>or, </dt> <dt><once>Wherewithal</once></dt> <dt>shall </dt> <dt>we </dt> <dt>be </dt> <dt><once>clothed?</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">32</div>
			<dt>(For </dt> <dt>after </dt> <dt>all </dt> <dt>these </dt> <dt>things </dt> <dt>do </dt> <dt>the </dt> <dt><once>Gentiles</once></dt> <dt>seek:) </dt> <dt>for </dt> <dt>your </dt> <dt>heavenly </dt> <dt>Father </dt> <dt><twice>knoweth</twice></dt> <dt>that </dt> <dt>ye </dt> <dt>have </dt> <dt><twice>need</twice></dt> <dt>of </dt> <dt>all </dt> <dt>these </dt> <dt>things. </dt> 
		</div>
		<div class="verse">
			<div class="referance">33</div>
			<dt>But </dt> <dt>seek </dt> <dt>ye </dt> <dt>first </dt> <dt>the </dt> <dt>kingdom </dt> <dt>of </dt> <dt>God, </dt> <dt>and </dt> <dt>his </dt> <dt>righteousness; </dt> <dt>and </dt> <dt>all </dt> <dt>these </dt> <dt>things </dt> <dt>shall </dt> <dt>be </dt> <dt><once>added</once></dt> <dt>unto </dt> <dt>you. </dt> 
		</div>
		<div class="verse">
			<div class="referance">34</div>
			<dt>Take </dt> <dt>therefore </dt> <dt>no </dt> <dt>thought </dt> <dt>for </dt> <dt>the </dt> <dt>morrow: </dt> <dt>for </dt> <dt>the </dt> <dt>morrow </dt> <dt>shall </dt> <dt>take </dt> <dt>thought </dt> <dt>for </dt> <dt>the </dt> <dt>things </dt> <dt>of </dt> <dt><once>itself.</once></dt> <dt><once>Sufficient</once></dt> <dt>unto </dt> <dt>the </dt> <dt>day </dt> <dt>is </dt> <dt>the </dt> <dt>evil </dt> <dt><once>thereof.</once></dt> 
		</div>
	</div>
	<div class="chapter">
		<h2>Matthew 7</h2
>		<div class="verse">
			<div class="referance">1</div>
			<dt>Judge </dt> <dt>not, </dt> <dt>that </dt> <dt>ye </dt> <dt>be </dt> <dt>not </dt> <dt><twice>judged.</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">2</div>
			<dt>For </dt> <dt>with </dt> <dt>what </dt> <dt>judgment </dt> <dt>ye </dt> <dt>judge, </dt> <dt>ye </dt> <dt>shall </dt> <dt>be </dt> <dt><twice>judged:</twice></dt> <dt>and </dt> <dt>with </dt> <dt>what </dt> <dt><once>measure</once></dt> <dt>ye </dt> <dt><once>mete,</once></dt> <dt>it </dt> <dt>shall </dt> <dt>be </dt> <dt><once>measured</once></dt> <dt>to </dt> <dt>you </dt> <dt>again. </dt> 
		</div>
		<div class="verse">
			<div class="referance">3</div>
			<dt>And </dt> <dt><twice>why</twice></dt> <dt><once>beholdest</once></dt> <dt>thou </dt> <dt>the </dt> <dt>mote </dt> <dt>that </dt> <dt>is </dt> <dt>in </dt> <dt>thy </dt> <dt><twice>brother's</twice></dt> <dt>eye, </dt> <dt>but </dt> <dt><once>considerest</once></dt> <dt>not </dt> <dt>the </dt> <dt>beam </dt> <dt>that </dt> <dt>is </dt> <dt>in </dt> <dt>thine </dt> <dt>own </dt> <dt>eye? </dt> 
		</div>
		<div class="verse">
			<div class="referance">4</div>
			<dt>Or </dt> <dt>how </dt> <dt><once>wilt</once></dt> <dt>thou </dt> <dt>say </dt> <dt>to </dt> <dt>thy </dt> <dt>brother, </dt> <dt>Let </dt> <dt>me </dt> <dt><once>pull</once></dt> <dt>out </dt> <dt>the </dt> <dt>mote </dt> <dt>out </dt> <dt>of </dt> <dt>thine </dt> <dt>eye; </dt> <dt>and, </dt> <dt><twice>behold,</twice></dt> <dt>a </dt> <dt>beam </dt> <dt>is </dt> <dt>in </dt> <dt>thine </dt> <dt>own </dt> <dt>eye? </dt> 
		</div>
		<div class="verse">
			<div class="referance">5</div>
			<dt>Thou </dt> <dt><once>hypocrite,</once></dt> <dt>first </dt> <dt>cast </dt> <dt>out </dt> <dt>the </dt> <dt>beam </dt> <dt>out </dt> <dt>of </dt> <dt>thine </dt> <dt>own </dt> <dt>eye; </dt> <dt>and </dt> <dt>then </dt> <dt>shalt </dt> <dt>thou </dt> <dt>see </dt> <dt><once>clearly</once></dt> <dt>to </dt> <dt>cast </dt> <dt>out </dt> <dt>the </dt> <dt>mote </dt> <dt>out </dt> <dt>of </dt> <dt>thy </dt> <dt><twice>brother's</twice></dt> <dt>eye. </dt> 
		</div>
		<div class="verse">
			<div class="referance">6</div>
			<dt>Give </dt> <dt>not </dt> <dt>that </dt> <dt>which </dt> <dt>is </dt> <dt><once>holy</once></dt> <dt>unto </dt> <dt>the </dt> <dt><once>dogs,</once></dt> <dt>neither </dt> <dt>cast </dt> <dt>ye </dt> <dt>your </dt> <dt><once>pearls</once></dt> <dt>before </dt> <dt><once>swine,</once></dt> <dt><twice>lest</twice></dt> <dt>they </dt> <dt><once>trample</once></dt> <dt>them </dt> <dt>under </dt> <dt>their </dt> <dt><once>feet,</once></dt> <dt>and </dt> <dt>turn </dt> <dt>again </dt> <dt>and </dt> <dt><once>rend</once></dt> <dt>you. </dt> 
		</div>
		<div class="verse">
			<div class="referance">7</div>
			<dt>Ask, </dt> <dt>and </dt> <dt>it </dt> <dt>shall </dt> <dt>be </dt> <dt><once>given</once></dt> <dt>you; </dt> <dt>seek, </dt> <dt>and </dt> <dt>ye </dt> <dt>shall </dt> <dt><twice>find;</twice></dt> <dt><once>knock,</once></dt> <dt>and </dt> <dt>it </dt> <dt>shall </dt> <dt>be </dt> <dt>opened </dt> <dt>unto </dt> <dt>you: </dt> 
		</div>
		<div class="verse">
			<div class="referance">8</div>
			<dt>For </dt> <dt>every </dt> <dt>one </dt> <dt>that </dt> <dt><twice>asketh</twice></dt> <dt><once>receiveth;</once></dt> <dt>and </dt> <dt>he </dt> <dt>that </dt> <dt><once>seeketh</once></dt> <dt><once>findeth;</once></dt> <dt>and </dt> <dt>to </dt> <dt>him </dt> <dt>that </dt> <dt><once>knocketh</once></dt> <dt>it </dt> <dt>shall </dt> <dt>be </dt> <dt>opened. </dt> 
		</div>
		<div class="verse">
			<div class="referance">9</div>
			<dt>Or </dt> <dt>what </dt> <dt>man </dt> <dt>is </dt> <dt>there </dt> <dt>of </dt> <dt>you, </dt> <dt><once>whom</once></dt> <dt>if </dt> <dt>his </dt> <dt><once>son</once></dt> <dt>ask </dt> <dt><twice>bread,</twice></dt> <dt>will </dt> <dt>he </dt> <dt>give </dt> <dt>him </dt> <dt>a </dt> <dt><once>stone?</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">10</div>
			<dt>Or </dt> <dt>if </dt> <dt>he </dt> <dt>ask </dt> <dt>a </dt> <dt><once>fish,</once></dt> <dt>will </dt> <dt>he </dt> <dt>give </dt> <dt>him </dt> <dt>a </dt> <dt><once>serpent?</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">11</div>
			<dt>If </dt> <dt>ye </dt> <dt>then, </dt> <dt><once>being</once></dt> <dt>evil, </dt> <dt>know </dt> <dt>how </dt> <dt>to </dt> <dt>give </dt> <dt>good </dt> <dt><once>gifts</once></dt> <dt>unto </dt> <dt>your </dt> <dt>children, </dt> <dt>how </dt> <dt>much </dt> <dt>more </dt> <dt>shall </dt> <dt>your </dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>heaven </dt> <dt>give </dt> <dt>good </dt> <dt>things </dt> <dt>to </dt> <dt>them </dt> <dt>that </dt> <dt>ask </dt> <dt>him? </dt> 
		</div>
		<div class="verse">
			<div class="referance">12</div>
			<dt>Therefore </dt> <dt>all </dt> <dt>things </dt> <dt><twice>whatsoever</twice></dt> <dt>ye </dt> <dt><twice>would</twice></dt> <dt>that </dt> <dt>men </dt> <dt>should </dt> <dt>do </dt> <dt>to </dt> <dt>you, </dt> <dt>do </dt> <dt>ye </dt> <dt>even </dt> <dt>so </dt> <dt>to </dt> <dt>them: </dt> <dt>for </dt> <dt>this </dt> <dt>is </dt> <dt>the </dt> <dt>law </dt> <dt>and </dt> <dt>the </dt> <dt>prophets. </dt> 
		</div>
		<div class="verse">
			<div class="referance">13</div>
			<dt>Enter </dt> <dt>ye </dt> <dt>in </dt> <dt>at </dt> <dt>the </dt> <dt><twice>strait</twice></dt> <dt>gate: </dt> <dt>for </dt> <dt><once>wide</once></dt> <dt>is </dt> <dt>the </dt> <dt>gate, </dt> <dt>and </dt> <dt><once>broad</once></dt> <dt>is </dt> <dt>the </dt> <dt>way, </dt> <dt>that </dt> <dt><twice>leadeth</twice></dt> <dt>to </dt> <dt><once>destruction,</once></dt> <dt>and </dt> <dt>many </dt> <dt>there </dt> <dt>be </dt> <dt>which </dt> <dt>go </dt> <dt>in </dt> <dt><once>thereat:</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">14</div>
			<dt><twice>Because</twice></dt> <dt><twice>strait</twice></dt> <dt>is </dt> <dt>the </dt> <dt>gate, </dt> <dt>and </dt> <dt><once>narrow</once></dt> <dt>is </dt> <dt>the </dt> <dt>way, </dt> <dt>which </dt> <dt><twice>leadeth</twice></dt> <dt>unto </dt> <dt>life, </dt> <dt>and </dt> <dt><once>few</once></dt> <dt>there </dt> <dt>be </dt> <dt>that </dt> <dt><twice>find</twice></dt> <dt>it. </dt> 
		</div>
		<div class="verse">
			<div class="referance">15</div>
			<dt><once>Beware</once></dt> <dt>of </dt> <dt><once>false</once></dt> <dt>prophets, </dt> <dt>which </dt> <dt>come </dt> <dt>to </dt> <dt>you </dt> <dt>in </dt> <dt><once>sheep's</once></dt> <dt><once>clothing,</once></dt> <dt>but </dt> <dt><once>inwardly</once></dt> <dt>they </dt> <dt>are </dt> <dt><once>ravening</once></dt> <dt><once>wolves.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">16</div>
			<dt>Ye </dt> <dt>shall </dt> <dt>know </dt> <dt>them </dt> <dt>by </dt> <dt>their </dt> <dt><twice>fruits.</twice></dt> <dt>Do </dt> <dt>men </dt> <dt><twice>gather</twice></dt> <dt><once>grapes</once></dt> <dt>of </dt> <dt><once>thorns,</once></dt> <dt>or </dt> <dt><once>figs</once></dt> <dt>of </dt> <dt><once>thistles?</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">17</div>
			<dt>Even </dt> <dt>so </dt> <dt>every </dt> <dt>good </dt> <dt>tree </dt> <dt>bringeth </dt> <dt>forth </dt> <dt>good </dt> <dt>fruit; </dt> <dt>but </dt> <dt>a </dt> <dt>corrupt </dt> <dt>tree </dt> <dt>bringeth </dt> <dt>forth </dt> <dt>evil </dt> <dt>fruit. </dt> 
		</div>
		<div class="verse">
			<div class="referance">18</div>
			<dt>A </dt> <dt>good </dt> <dt>tree </dt> <dt>cannot </dt> <dt>bring </dt> <dt>forth </dt> <dt>evil </dt> <dt>fruit, </dt> <dt>neither </dt> <dt>can </dt> <dt>a </dt> <dt>corrupt </dt> <dt>tree </dt> <dt>bring </dt> <dt>forth </dt> <dt>good </dt> <dt>fruit. </dt> 
		</div>
		<div class="verse">
			<div class="referance">19</div>
			<dt>Every </dt> <dt>tree </dt> <dt>that </dt> <dt>bringeth </dt> <dt>not </dt> <dt>forth </dt> <dt>good </dt> <dt>fruit </dt> <dt>is </dt> <dt><once>hewn</once></dt> <dt><once>down,</once></dt> <dt>and </dt> <dt>cast </dt> <dt>into </dt> <dt>the </dt> <dt><twice>fire.</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">20</div>
			<dt><twice>Wherefore</twice></dt> <dt>by </dt> <dt>their </dt> <dt><twice>fruits</twice></dt> <dt>ye </dt> <dt>shall </dt> <dt>know </dt> <dt>them. </dt> 
		</div>
		<div class="verse">
			<div class="referance">21</div>
			<dt>Not </dt> <dt>every </dt> <dt>one </dt> <dt>that </dt> <dt><once>saith</once></dt> <dt>unto </dt> <dt>me, </dt> <dt>Lord, </dt> <dt>Lord, </dt> <dt>shall </dt> <dt>enter </dt> <dt>into </dt> <dt>the </dt> <dt>kingdom </dt> <dt>of </dt> <dt>heaven; </dt> <dt>but </dt> <dt>he </dt> <dt>that </dt> <dt>doeth </dt> <dt>the </dt> <dt>will </dt> <dt>of </dt> <dt><twice>my</twice></dt> <dt>Father </dt> <dt>which </dt> <dt>is </dt> <dt>in </dt> <dt>heaven. </dt> 
		</div>
		<div class="verse">
			<div class="referance">22</div>
			<dt>Many </dt> <dt>will </dt> <dt>say </dt> <dt>to </dt> <dt>me </dt> <dt>in </dt> <dt>that </dt> <dt>day, </dt> <dt>Lord, </dt> <dt>Lord, </dt> <dt>have </dt> <dt>we </dt> <dt>not </dt> <dt><once>prophesied</once></dt> <dt>in </dt> <dt>thy </dt> <dt>name? </dt> <dt>and </dt> <dt>in </dt> <dt>thy </dt> <dt>name </dt> <dt>have </dt> <dt>cast </dt> <dt>out </dt> <dt><once>devils?</once></dt> <dt>and </dt> <dt>in </dt> <dt>thy </dt> <dt>name </dt> <dt><twice>done</twice></dt> <dt>many </dt> <dt><once>wonderful</once></dt> <dt><twice>works?</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">23</div>
			<dt>And </dt> <dt>then </dt> <dt>will </dt> <dt>I </dt> <dt><once>profess</once></dt> <dt>unto </dt> <dt>them, </dt> <dt>I </dt> <dt><once>never</once></dt> <dt><once>knew</once></dt> <dt>you: </dt> <dt><once>depart</once></dt> <dt>from </dt> <dt>me, </dt> <dt>ye </dt> <dt>that </dt> <dt><once>work</once></dt> <dt><once>iniquity.</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">24</div>
			<dt>Therefore </dt> <dt>whosoever </dt> <dt><twice>heareth</twice></dt> <dt>these </dt> <dt>sayings </dt> <dt>of </dt> <dt><twice>mine,</twice></dt> <dt>and </dt> <dt>doeth </dt> <dt>them, </dt> <dt>I </dt> <dt>will </dt> <dt><once>liken</once></dt> <dt>him </dt> <dt>unto </dt> <dt>a </dt> <dt><twice>wise</twice></dt> <dt>man, </dt> <dt>which </dt> <dt><twice>built</twice></dt> <dt>his </dt> <dt>house </dt> <dt>upon </dt> <dt>a </dt> <dt><twice>rock:</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">25</div>
			<dt>And </dt> <dt>the </dt> <dt>rain </dt> <dt><twice>descended,</twice></dt> <dt>and </dt> <dt>the </dt> <dt><twice>floods</twice></dt> <dt>came, </dt> <dt>and </dt> <dt>the </dt> <dt><twice>winds</twice></dt> <dt><twice>blew,</twice></dt> <dt>and </dt> <dt><twice>beat</twice></dt> <dt>upon </dt> <dt>that </dt> <dt>house; </dt> <dt>and </dt> <dt>it </dt> <dt><twice>fell</twice></dt> <dt>not: </dt> <dt>for </dt> <dt>it </dt> <dt>was </dt> <dt><once>founded</once></dt> <dt>upon </dt> <dt>a </dt> <dt><twice>rock.</twice></dt> 
		</div>
		<div class="verse">
			<div class="referance">26</div>
			<dt>And </dt> <dt>every </dt> <dt>one </dt> <dt>that </dt> <dt><twice>heareth</twice></dt> <dt>these </dt> <dt>sayings </dt> <dt>of </dt> <dt><twice>mine,</twice></dt> <dt>and </dt> <dt>doeth </dt> <dt>them </dt> <dt>not, </dt> <dt>shall </dt> <dt>be </dt> <dt><once>likened</once></dt> <dt>unto </dt> <dt>a </dt> <dt><once>foolish</once></dt> <dt>man, </dt> <dt>which </dt> <dt><twice>built</twice></dt> <dt>his </dt> <dt>house </dt> <dt>upon </dt> <dt>the </dt> <dt><once>sand:</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">27</div>
			<dt>And </dt> <dt>the </dt> <dt>rain </dt> <dt><twice>descended,</twice></dt> <dt>and </dt> <dt>the </dt> <dt><twice>floods</twice></dt> <dt>came, </dt> <dt>and </dt> <dt>the </dt> <dt><twice>winds</twice></dt> <dt><twice>blew,</twice></dt> <dt>and </dt> <dt><twice>beat</twice></dt> <dt>upon </dt> <dt>that </dt> <dt>house; </dt> <dt>and </dt> <dt>it </dt> <dt><twice>fell:</twice></dt> <dt>and </dt> <dt>great </dt> <dt>was </dt> <dt>the </dt> <dt><once>fall</once></dt> <dt>of </dt> <dt>it. </dt> 
		</div>
		<div class="verse">
			<div class="referance">28</div>
			<dt>And </dt> <dt>it </dt> <dt>came </dt> <dt>to </dt> <dt>pass, </dt> <dt>when </dt> <dt><once>Jesus</once></dt> <dt><once>had</once></dt> <dt><once>ended</once></dt> <dt>these </dt> <dt>sayings, </dt> <dt>the </dt> <dt><once>people</once></dt> <dt><twice>were</twice></dt> <dt><once>astonished</once></dt> <dt>at </dt> <dt>his </dt> <dt><once>doctrine:</once></dt> 
		</div>
		<div class="verse">
			<div class="referance">29</div>
			<dt>For </dt> <dt>he </dt> <dt><twice>taught</twice></dt> <dt>them </dt> <dt>as </dt> <dt>one </dt> <dt><once>having</once></dt> <dt><once>authority,</once></dt> <dt>and </dt> <dt>not </dt> <dt>as </dt> <dt>the </dt> <dt><twice>scribes.</twice></dt> 
		</div>
	</div>
</div>
{% endblock content %}