
{% extends "base.html" %}
{% block title %}
Material
{% endblock title %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/material.css' %}"/>

	<button type='button' class='btn btn-secondary' onclick='viewWords()' >View Words</button>
	<button type='button' class='btn btn-secondary' onclick='viewLetters()' >View Letters</button>

	<br><br>
	
	<div class="alert alert-danger" role="alert">
		This page is still under development! I do not garantee that the information here is correct (yet).
	</div>

	<br><br>
	
	{% include "Material/texts/matt5-7.html" %}
	<script>
		const container = document.getElementsByClassName("container").item(1);

		function viewLetters() {
			Array.from(container.getElementsByTagName('word')).forEach(word => {
				if (!word.classList.contains("single-letter")) {
					word.classList.add("single-letter");
				}
			});
		}

		function viewWords() {
			Array.from(container.getElementsByTagName('word')).forEach(word => {
				if (word.classList.contains("single-letter")) {
					word.classList.remove("single-letter");
				}
			});
		}

		viewWords();
	</script>
{% endblock content %}
