
{% extends "base.html" %}
{% block title %}
Material
{% endblock title %}
{% load static %}

{% block content %}
	<button onclick='viewWords()' >View Words</button>
	<button onclick='viewLetters()' >View Letters</button>

	
	
	{% include "Material/texts/matthew5-7.html" %}
	<script>
		const container = document.getElementsByClassName("container").item(1);

		function viewLetters() {
			Array.from(container.getElementsByTagName('h3')).forEach(word => {
				if (!word.classList.contains("single-letter")) {
					word.classList.add("single-letter");
				}
			});
		}

		function viewWords() {
			Array.from(container.getElementsByTagName('h3')).forEach(word => {
				if (word.classList.contains("single-letter")) {
					word.classList.remove("single-letter");
				}
			});
		}

		viewWords();
	</script>
{% endblock content %}