{% extends "base.html" %}
{% block title %}
    Quiz
{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}"/>
    <div class="container my-5">
        <div class="row">
            <div class="col-2">
                <a href="" class="btn btn-primary">Back</a>
            </div>
            <div class="col-8 text-center">
                <h1>QuizMaster View</h1>
            </div>
            <div class="col-2">
                <a href="" class="btn btn-primary">Next</a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-2" align="center">
                <input class="form-check-input" type="checkbox" id="seat1" value="seat1"/>
            </div>
            <div class="col-2" align="center">
                <input class="form-check-input" type="checkbox" id="seat2" value="seat2"/>
            </div>
            <div class="col-2" align="center">
                <input class="form-check-input" type="checkbox" id="seat3" value="seat3"/>
            </div>
            <div class="col-2" align="center">
                <input class="form-check-input" type="checkbox" id="seat4" value="seat4"/>
            </div>
            <div class="col-2" align="center">
                <input class="form-check-input" type="checkbox" id="seat5" value="seat5"/>
            </div>
          </div>

          <div class="row justify-content-center" style="margin-top: 50px;">
            <div class="col-2" align="center">
                <label class="switch">
                    <input class="form-check-input" type="checkbox" id="switch1" value="switch1" checked/>
                    <span class="slider round"></span>
                  </label>
            </div>
            <div class="col-2" align="center">
                <label class="switch">
                    <input class="form-check-input" type="checkbox" id="switch2" value="switch2" checked/>
                    <span class="slider round"></span>
                  </label>
                  
            </div>
            <div class="col-2" align="center">
                <label class="switch">
                    <input class="form-check-input" type="checkbox" id="switch3" value="switch3" checked/>
                    <span class="slider round"></span>
                  </label>
            </div>
            <div class="col-2" align="center">
                <label class="switch">
                    <input class="form-check-input" type="checkbox" id="switch4" value="switch4" checked/>
                    <span class="slider round"></span>
                  </label>
            </div>
            <div class="col-2" align="center">
                <label class="switch">
                    <input class="form-check-input" type="checkbox" id="switch5" value="switch5" checked/>
                    <span class="slider round"></span>
                  </label>
            </div>
          </div>

        <div class="row justify-content-center" style="margin-top: 50px;">
            <!-- <div class="col-md-2"> -->
                <button class="btn btn-primary btn-lg" style="border-radius: 50%; width: 50px; height: 50px; ">
                </button>
            <!-- </div> -->
        </div>
    </div>
{% endblock content %}
