{% extends "base.html" %}
{% block title %}
    Quiz
{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Quiz/quiz.css' %}"/>

    {{ question_form|safe }}

    <div style="padding-top: 70px">
        <button id="submit" class="btn btn-primary">Submit Scores</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'Quiz/quiz.js' %}"></script>


{% endblock content %}
