{% extends "base.html" %}
{% load quiz_filters %}
{% block title %}
    Quiz
{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Quiz/quiz.css' %}"/>

    <script>
        var num_teams = {{ quiz.num_teams }};
    </script>

    {% render_scoresheet %}

    <div style="padding-top: 70px">
        <button id="submit" class="btn btn-primary" disabled>Submit Scores</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'Quiz/quiz.js' %}"></script>


{% endblock content %}
