.checkbox-img {
    background-color: #fff;
    border: solid 1px #d7d7d7;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    margin-right: 2rem;
    text-align: center;
    width: 32px;
    vertical-align: middle;
}

.positive {
    background-color: #4aca65;
    border-color: #43b45b;
}

.negative {
    background-color: #dc4e4e;
    border-color: #c74545;
}

.disabled-checkbox {
    background-color: lightgray;
    border-color: gray;
}

table {
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
}


.d-flex {
    display: flex;
}


table {
    border-collapse: separate;
    border-spacing: 0;
    /*padding-left: 5rem;*/
    width: 100%;
}

.table-div {
    overflow-x: scroll;
}

td,
th {
    margin: 0;
    white-space: nowrap;
    border-top-width: 0px;
}

.question-td {
    max-width: 40px;
}

tr {
    background: white;
}

/*div {*/
/*    width: 500px;*/
/*    overflow-x: scroll;*/
/*    margin-left: 5em;*/
/*    overflow-y: visible;*/
/*    padding: 0;*/
/*}*/

.headcol {
    position: sticky;
    width: 165px;
    /*padding-right: 30%;*/
    margin: auto;
    left: 0;
    top: auto;
    background: #fff;
    text-overflow: ellipsis;

}

.score-col {
    position: sticky;
    left: 165px;
    top: auto;
    background: #fff;
    padding: 0 20px;
}

.team-name {
    font-weight: bold;
}

.individual-name {
    font-weight: normal;
}
