.checkbox-img {
    background-color: #fff;
    border: solid 1px #d7d7d7;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    margin-right: 2rem;
    text-align: center;
    width: 32px;
    vertical-align: middle;
}

/*.table-div {*/
/*    overflow-x: scroll;*/
/*}*/
table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;

}

.table-div {
    width: 100%
}


.checkbox-img svg {
    margin-top: 6px;
    stroke: #fff;
}

.positive {
    background-color: #4aca65;
    border-color: #43b45b;
}

.negative {
    background-color: #dc4e4e;
    border-color: #c74545;
}

.disabled-checkbox {
    background-color: lightgray;
    border-color: gray;
}


.label {
    font-weight: bold;
    vertical-align: middle;
}

.d-flex {
    display: flex;
}


table {
    border-collapse: separate;
    border-spacing: 0;
    padding-left: 5rem;
    width: 100%;
}

td,
th {
    margin: 0;
    white-space: nowrap;
    border-top-width: 0px;
}

div {
    width: 500px;
    overflow-x: scroll;
    margin-left: 5em;
    overflow-y: visible;
    padding: 0;
}

.headcol {
    position: absolute;
    left: 0;
    top: auto;
    /*only relevant for first row*/

    /*compensate for top border*/
}

.score-col {
    padding-right: 40px;
}

.long {
    background: yellow;
    letter-spacing: 1em;
}

.team-name {
    font-weight: bold;
}

tbody {
    padding: 0 30px;

    border: black solid 1px;


}

.individual-name {
    font-weight: normal;
}
