.book {
    /* font: italic */
}

.chapter {
    /* font: bold; */
}

.verse {
    /* font: normal; */
}

.referance {
    display: inline;
}

h3 {
    display: inline-block;
    font-size: 18pt;
    font-weight: normal;
    transition:font-size .1s;

}

.single-letter {
    visibility: hidden;
    display: inline-block;
    font-size: 0pt;
    font-weight: normal;
}
.single-letter::first-letter {
    visibility: visible;
    font-size: 18pt;
}
  
.single-letter:hover {
    visibility: visible;
    font-size: 18pt;
} 
once {
    text-decoration-line: underline;
    text-decoration-style: solid;  
}

twice {
  text-decoration-line: underline;
  text-decoration-style: double;
}